<div class="sidemenu">
    <div class="menu">
        <nav>
    <table>
        <tbody>
            <tr class="menu-elements">
                <td class="menu-elements"><label for="booking"><input name="booking" type="radio" id="booking" ng-model="state" ng-value="booking" >Bookings</label></td>
            </tr>
            <tr class="menu-elements">
                <td class="menu-elements"><label for ="profile"><input name="Profile" type="radio" id="profile" ng-model="state" ng-value="profile" >Profile</label></td>
            </tr>
            <tr class="menu-elements">
                <td class="menu-elements"><label for ="team"><input name="team" type="radio" id="team" ng-model="state" ng-value="team" >Team</label></td>
            </tr>
            <tr class="menu-elements">
                <td class="menu-elements"><label for ="invoices"><input name="invoices" type="radio" id="invoices" ng-model="state" ng-value="invoices">Invoices</label></td>
            </tr>        
            <tr class="menu-elements">
                <td class="menu-elements"><label for ="payments"><input name="payments" type="radio" id="payments" ng-model="state" ng-value="payments">Payments</label></td>
            </tr>
            </tbody>
        </table>
        </nav>

        {{state}}
        </div>
    </div>