<div class="row">
    <div class="col-lg-6">
        <img src="assets/coworker.jpg" width="800px">
     </div>
    <div class="col-lg-6">
        <table class="logintable">
            <tbody>
                <tr>
                    <td class="loginpanel newinput"> <input id="firstName" type="text" ng-model="user.firstName" placeholder="John"> </td>
                    <td class="loginpanel newinput"><input id="lastName" type="text" ng-model="user.lastName" placeholder="Doe"></td>
                    
                </tr>
                <tr>
                    <td class="loginpanel newinput"><input id="email" type="email" ng-model="user.email" placeholder="john.doe@example.com"></td>
                </tr>
                <tr>
                    <td class="loginpanel newinput"><input id="password" type="password" ng-model="user.password" placeholder="Password"></td>
                </tr>
                <tr>
                    <td class="loginpanel newinput"><input id="retypepassword" type="password" ng-model="user.retypePassword" placeholder="Retype Password"></td>
                </tr>
                <tr>
                    <td class="loginpanel newinput"><input id="phoneno" type="tel" ng-model="user.phoneNo" placeholder="+91-999999999"></td>
                </tr>
                <tr>
                    <td class="loginpanel newinput"> <input id="address" type="text" ng-model="user.address" placeholder="House No,Lane No"></td>
                </tr>    
                <tr>
                    <td class="loginpanel newinput"><input id="nextstep" type="button" value="Next Step" ng-click="signUp()"></td>
                </tr>

        </div>    
    
    </div>